@media(max-width:992px){

.section-title{

font-size:36px;

}

}

@media(max-width:768px){

.year-tabs{

justify-content:flex-start;

overflow:auto;

}

.card-footer{

flex-direction:column;

gap:20px;

}

}

@media(max-width:576px){

.conference-grid{

grid-template-columns:1fr;

}

}